# Core app
streamlit==1.26.1

# Data + ML
pandas==2.2.3
numpy==1.26.2
scikit-learn==1.2.2
imbalanced-learn==0.11.1
joblib==1.2.0

# Visualization & HTTP
plotly==5.15.0
requests==2.31.0

# Utilities
python-dotenv==1.0.0
pyyaml==6.0
